<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="Mode" value="Daily"/>
      <add key ="IntervalMinutes" value="1"/>
      <add key="ScheduledTime" value="17:00"/>
	  <add key="From" value="jimmyappana@gmail.com"/>
    </appSettings>
  <connectionStrings>
    <add name="CriticalPath" connectionString="server=himalaya; database =IDBOLive; uid=sa;pwd=pcadmin12!@"/>
  </connectionStrings>
</configuration>