
<footer class="footer navbar navbar-fixed-bottom navbar-inverse">
<div class="navbar-inner">
 <div class="container">
<!--   <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small> -->
  <nav>
    <ul>
      <li><%= link_to "About",   aboutus_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
     
    </ul>
  </nav>
  </div>
</div>
</footer>

