<div id="contestresult">

    <h1>Your voting done, We will let you know the winners soon. ThanQ</h1>

    <%= link_to "OK, Bye", {:controller => "contest", :action => "gotocontest" }, class: "btn btn-medium btn-primary" %>

</div>