<div class="row">
	<aside class="span5">
		<section >

            <%= render partial: 'shared/contest_form' %>

        </section>
	</aside>

	<aside class="span7">
		<section >

            <%= render partial: 'planning' %>

        </section>
        <section>
        	<%= render partial: 'shared/gmap' %>
        </section>
	</aside>
</div>