<html>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<head>
	<style type="text/css">
		.main
		{

		}
		#header
		{
			padding: 15px;
			height: 100px;
			background-color: #C5C5C5;
			border-color: red;
			border-style: outset;
			border-bottom-color: #1947D1;
			border-bottom-width: 18px;
			border-top: none;
			border-left: none;
			border-right: none;
			width: 1300px;
			margin-left: 100px;
		}
		#nav
		{
			float: right;
			margin-right: 20px;
			background-color: blue;
			height: 40px;
			padding: 8px;
			border-radius: 10px;
		}
		.navanchor
		{
			color: white;
			margin-left: 25px;

		}
	</style>
</head>
<body>

	<div id="header">
		
		<img src="" >
		<label >Delivering Excellence</label>

		<nav  id="nav">
			<a class="navanchor" href="#Home">Home</a>
			<a class="navanchor" href="#Archives">Archives</a>
			<a class="navanchor" href="#About">About</a>
			<a class="navanchor" href="#Home">Home</a>
			<a class="navanchor" href="#Archives">Archives</a>
			<a class="navanchor" href="#About">About</a>
			<a class="navanchor" href="#Home">Home</a>
			<a class="navanchor" href="#Archives">Archives</a>
			<a class="navanchor" style="margin-right: 25px;" href="#About">About</a>
		</nav>

	</div>

	<div class="row" >

		<div class="col-md-3" style="float: left;">

			<ul style="list-style-type: none;">
				<li><a href="">Comapny</a></li>
				<li><a href="">Leadership Team</a></li>
				<li><a href="">Client Speak</a></li>
				<li><a href="">Alliances</a></li>
				<li><a href="">CSR</a></li>
				<li><a href="">Awards & Achievments</a></li>
			</ul>
		</div>

		<div class="col-md-6" style="float: left;">

			<p >
				We are offshore iPhone Application Developent Service providers i n india. Outsource your iPhone application<br>development services to us.
			</p>

			<p >
				In 1980, physicist Tim Berners-Lee, who was a contractor at CERN, proposed and prototyped ENQUIRE, a system for CERN researchers to use and share documents. In 1989, Berners-Lee wrote a memo proposing an Internet-based hypertext system.[3] Berners-Lee specified HTML and wrote the browser and server software in late 1990. That year, Berners-Lee and CERN data systems engineer Robert Cailliau collaborated on a joint request for funding, but the project was not formally adopted by CERN. In his personal notes[4] from 1990 he listed[5] "some of the many areas in which hypertext is used" and put an encyclopedia first.In 1980, physicist Tim Berners-Lee, who was a contractor at CERN, proposed and prototyped ENQUIRE, a system for CERN researchers to use and share documents. In 1989, Berners-Lee wrote a memo proposing an Internet-based hypertext system.[3] Berners-Lee specified HTML and wrote the browser and server software in late 1990. That year, Berners-Lee and CERN data systems engineer Robert Cailliau collaborated on a joint request for funding, but the project was not formally adopted by CERN. In his personal notes[4] from 1990 he listed[5] "some of the many areas in which hypertext is used" and put an encyclopedia first.
			</p>

			<p >
				In 1980, physicist Tim Berners-Lee, who was a contractor at CERN, proposed and prototyped ENQUIRE, a system for CERN researchers to use and share documents. In 1989, Berners-Lee wrote a memo proposing an Internet-based hypertext system.[3] Berners-Lee specified HTML and wrote the browser and server software in late 1990. That year, Berners-Lee and CERN data systems engineer Robert Cailliau collaborated on a joint request for funding, but the project was not formally adopted by CERN. In his personal notes[4] from 1990 he listed[5] "some of the many areas in which hypertext is used" and put an encyclopedia first.
			</p>

			<p >
				In 1980, physicist Tim Berners-Lee, who was a contractor at CERN, proposed and prototyped ENQUIRE, a system for CERN researchers to use and share documents. In 1989, Berners-Lee wrote a memo proposing an Internet-based hypertext system.[3] Berners-Lee specified HTML and wrote the browser and server software in late 1990. That year, Berners-Lee and CERN data systems engineer Robert Cailliau collaborated on a joint request for funding, but the project was not formally adopted by CERN. In his personal notes[4] from 1990 he listed[5] "some of the many areas in which hypertext is used" and put an encyclopedia first.
			</p>

			<p >
				The services that we offer with iPhone development are:
			</p>

			<ul>
				<li>iPhone app design and development</li>
				<li>Custom iPhone application Development</li>
				<li>Custom Software development</li>
				<li>Mobile Web application development</li>
				<li>Porting and migration</li>
			</ul>

		</div>

		<div class="col-md-3" style="float: right;">
			<ul style="list-style-type: none;">
				<li><a href="">All Resources</a></li>
				<li><a href="">Case Studies</a></li>
				<li><a href="">White Papers</a></li>
				<li><a href="">Tips</a></li>
				<li><a href="">Brochers</a></li>
				<li><a href="">E-Books</a></li>
				<li><a href="">Video Gallery</a></li>
				<li><a href="">Podcats</a></li>
				<li><a href="">NewsLetters</a></li>
				<li><a href="">Articles</a></li>
				<li><a href="">Downloads</a></li>
				<li><a href="">Webinars/Seminars</a></li>
			</ul>
		</div>

	</div>

</body>
</html>